.TxCard {
	background-color: #002140;
	width: 400px;
	height: min-content;
	border-radius: 8px;
	padding: 12px;
	margin-top: 15px;
}
.TxCard__Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.TxCard__Body {
	margin-top: 12px;
}
