.TxCard {
	width: 90%;
	height: auto;
	border-radius: 8px;
	padding: 12px;
	text-align: center;
	margin: auto;
}
.TxCard__Header {
	background-color: #002140;
	border-radius: 8px;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.TxCard__Header-expanded {
	background-color: #002140;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.TxCard__Body {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 12px;
	background-color: #002140;
	transform-origin: top;
	transition: transform 2s ease-in-out;
}
