.bg {
	background-color: #003c81;
}
.Explore {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	background: linear-gradient(to top, #00274c, #003c81);
	display: flex;
}
.Explore.visible {
	opacity: 1;
}

.Explore.hidden {
	opacity: 0;
}
.Explore__Graph {
	position: absolute;
}
.Explore__SideBar {
	position: absolute;
	right: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 16px;
}
