.bg {
	background-color: #003c81;
}
.Explore {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	background: linear-gradient(to top, #002140, #003c81);
	display: flex;
}
.Explore.visible {
	opacity: 1;
}

.Explore.hidden {
	opacity: 0;
}
.Explore__Graph {
	position: absolute;
}
.Explore__SideBar {
	position: absolute;
	top: 50%;
	left: 99%;
	transform: translate(-100%, -50%);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.Explore__ToolTip {
	height: 100px;
	width: 161px;
	border-radius: 8px;
	color: white;
	font-family: "Comfortaa", cursive;
	background-color: #002140;
	padding: 8px;
}
